{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}Project Arrakis - User gardens{% endblock %}

{% block page_content %}
{{ super() }}
<div class="page_header">
</div>
<div class="page_garden">
  {% if gardens  %}
  {% for garden in gardens %}
  <li class="garden">
   <a href="{{ url_for('garden.show_garden', garden_id=garden.id) }}">{{ garden.name }}</a> in {{ garden.location }}.
  </li>
  {% endfor %}
  {% else %}
  <p>
    You still have no gardens.
  </p>
  {% endif %}
</div>
<div class="page_add_garden">
  <p>
    <a class="btn btn-default" href="{{ url_for('garden.add_garden') }}" >Add e new garden</a>
  </p>
</div>

{% endblock %}
